<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/themewar-font.css" />
    <link rel="stylesheet" href="/assets/css/quera-icon.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/lightcase.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/settings.css" />
    <link rel="stylesheet" href="/assets/css/preset.css" />
    <link rel="stylesheet" href="/assets/css/ignore_for_wp.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
</head>
<body>
    <header class="header01 isSticky">
        <div class="container largeContainer">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/assets/images/Group 4.svg" alt="Dgita" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="topbar">
                        <p>
                            <i class="twi-bolt"></i>Need Help: Providing Innovative and Easy
                            Solutions, Call (012) 2569 2453 1215
                        </p>
                        <div class="tpRight">
                            <p id="google_translate_element"></p>
                            <div class="tpSocail">
                                <a href="javascript:void(0);">
                                    <i class="twi-facebook-f"></i>
                                </a>
                                <a href="javascript:void(0);"><i class="twi-twitter"></i></a>
                                <a href="javascript:void(0);">
                                    <i class="twi-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar01">
                        <nav class="mainMenu">
                            <ul>
                                <li class="current-menu-item">
                                    <a href="/home">Home</a>
                                </li>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/servicedetails">Services Details</a>
                                </li>
                                <li><a href="/contactus">Contact</a></li>
                                <li><a href="/aboutus">About Us</a></li>
                            </ul>
                        </nav>
                        <div class="accessNav">
                            <a href="javascript:void(0);" class="menuToggler">
                                <i class="twi-bars1"></i>
                            </a>
                            @*<div class="searchBtn">
                                    <a href="javascript:void(0);"><i class="twi-search2"></i></a>
                                    <div class="header01SearchBar">
                                        <form class="d-flex" method="post" action="#">
                                            <input type="search"
                                                   name="s"
                                                   placeholder="Search Here..." />
                                            <button type="submit"><i class="twi-search2"></i></button>
                                        </form>
                                    </div>
                                </div>*@
                            <a href="/contactus" class="qu_btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="sidebarMenu">
        <div class="sidebarMenuOverlay"></div>
        <div class="SMArea">
            <div class="SMAHeader">
                <h3><i class="twi-bars1"></i> Menu</h3>
                <a href="javascript:void(0);" class="SMACloser">
                    <i class="twi-times2"></i>
                </a>
            </div>
            <div class="SMABody">
                <ul>
                    <li class="current-menu-item">
                        <a href="/Home">Home</a>
                    </li>
                    <li >
                        <a href="/Services">Services</a>
                    </li>
                    <li><a href="/Aboutus">About Us</a></li>
                    <li><a href="/Contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </section>
    @RenderBody()
    <footer class="footer_01">
        <div class="container largeContainer">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <h2 class="secTitle">
                        Sign up for latest news and<br />
                        insights from <span>Quera.</span>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="SubsrcribeForm">
                        <form class="yikes-easy-mc-form" action="/Home/Email" method="post">
                            <input type="email" name="Email" id="Email" placeholder="Email Address" />
                            <button class="yikes-easy-mc-submit-button" type="submit">
                                Subsrcribe
                            </button>
                        </form>
                        @if (ViewBag.succ != null)
                        {
                            @ViewBag.succ
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"><div class="fdivider"></div></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="aboutWidget">
                        <h5>Do you have questions? Call or visit us.</h5>
                        <div class="phone"><i class="twi-phone"></i>+569 2316 2156</div>
                        <p>2659 Dancing Street, New York, NY 25630, USA</p>
                        <a href="https://themewar.com/cdn-cgi/l/email-protection#97f4f8f9e3f6f4e3d7f2eff6fae7fbf2b9f4f8fa">
                            <span class="__cf_email__"
                                  data-cfemail="086b67667c696b7c486d70696578646d266b6765">[email&#160;protected]</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget PL28">
                        <h3 class="widget_title">Usefull Links</h3>
                        <ul class="menu">
                            <li><a href="/Home">Home</a></li>
                            <li><a href="/Services">Services</a></li>
                            <li><a href="/Contactus">Contact Us</a></li>
                            <li><a href="/Aboutus">About Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget PL28">
                        <h3 class="widget_title mb28">Latest Posts</h3>
                        <div class="pp_post_item">
                            <img src="/assets/images/blog/t1.jpg" alt="" />
                            <span><i class="twi-clock2"></i>10 June, 2021</span>
                            <a href="single-blog.html">Losing never felt so good energy everything</a>
                        </div>
                        <div class="pp_post_item">
                            <img src="/assets/images/blog/t2.jpg" alt="" />
                            <span><i class="twi-clock2"></i>10 June, 2021</span>
                            <a href="single-blog.html">Losing never felt so good energy everything</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget gallery">
                        <h3 class="widget_title mb28">Post Gallery</h3>
                        <div class="galleryShots">
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g1.jpg" alt="" />
                            </a>
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g2.jpg" alt="" />
                            </a>
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g3.jpg" alt="" />
                            </a>
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g4.jpg" alt="" />
                            </a>
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g5.jpg" alt="" />
                            </a>
                            <a class="popup_img" href="assets/images/blog/s1.jpg">
                                <img src="/assets/images/blog/g6.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="fcopyright">
        <div class="container largeContainer">
            <div class="row">
                <div class="col-md-6">
                    <p> © @DateTime.Now.Year Swadharma Consultancy. All Rights Reserved. | Developed by <span style="color: #ed1b24;"><b>ITSS</b></span></p>
                </div>
                <div class="col-md-6">
                    <div class="copyMenu">
                        <ul>
                            <li><a href="javascript:void(0);">Privacy</a></li>
                            <li><a href="javascript:void(0);">Terms</a></li>
                            <li><a href="/contactus">Contact</a></li>
                            <li><a href="/aboutus">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="javascript:void(0);" id="backtotop">
        <i class="twi-arrow-to-top1"></i>
    </a>

    <script data-cfasync="false"
            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/shuffle.min.js"></script>
    <script src="/assets/js/nice-select.js"></script>
    <script src="/assets/js/lightcase.js"></script>
    <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/assets/js/circle-progress.js"></script>
    <script src="/assets/js/gmaps.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBJtPMZ_LWZKuHTLq5o08KSncQufIhPU3o"></script>

    <script src="/assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/js/jquery.themepunch.revolution.min.js"></script>

    <script src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/assets/js/theme.js"></script>


    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>