
@{
    ViewBag.Title = "Swadharma Consultancy | Home";
}

<section class="slider_01">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_1"
             class="rev_slider fullwidthabanner"
             style="display: none"
             data-version="5.4.1">
            <ul>
                <li data-index="rs-3046"
                    data-transition="random-premium"
                    data-slotamount="default"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="Power3.easeInOut"
                    data-easeout="Power3.easeInOut"
                    data-masterspeed="1000"
                    data-thumb=""
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title=""
                    data-param1=""
                    data-param2=""
                    data-param3=""
                    data-param4=""
                    data-param5=""
                    data-param6=""
                    data-param7=""
                    data-param8=""
                    data-param9=""
                    data-param10=""
                    data-description="">
                    <img src="/assets/images/slider/1.jpg"
                         alt="Quera"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="0"
                         class="rev-slidebg"
                         data-no-retina />
                    <div class="tp-caption ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['top']"
                         data-voffset="['25','25','25','10']"
                         data-fontsize="['24','24','22','20']"
                         data-fontweight="400"
                         data-lineheight="['30']"
                         data-letterspacing="1.4"
                         data-width="['500','500','100%', '100%']"
                         data-height="['auto']"
                         data-whitesapce="normal"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Business & Finance Consultancy
                    </div>
                    <div class="tp-caption headFont ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['-70','-70','-95','-130']"
                         data-fontsize="['100','80','60','36']"
                         data-fontweight="['700']"
                         data-lineheight="['110','90','70','46']"
                         data-letterspacing="0"
                         data-width="['100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1900,"speed":350,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Your Vision, <br />Our Achievement
                    </div>
                    <div class="tp-caption ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['82','82','55','0']"
                         data-fontsize="['18','18','18','19']"
                         data-fontweight="['400']"
                         data-lineheight="['30','30','30','30']"
                         data-letterspacing="0"
                         data-width="['750','750','600','100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2300,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Keeping track of the finances is fundamental to the success of
                        every business, small or large, but tackling the task yourself
                        can be intimidating.
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['192','192','190','140']"
                         data-fontsize="['16']"
                         data-fontweight="700"
                         data-lineheight="60"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2600,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,20]">
                        <a href="contact.html" class="qu_btn">Get Started Now</a>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['left']"
                         data-hoffset="['211']"
                         data-y="['middle']"
                         data-voffset="['181','181','180','130']"
                         data-fontsize="['16']"
                         data-fontweight="700"
                         data-lineheight="62"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2600,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,20]">
                        <a href="https://player.vimeo.com/video/213907368?h=3685456d6c"
                           class="popup_video">
                            <i class="twi-play"></i>
                        </a>
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":2500,"speed":800,"frame":"0","from":"y:top;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="right"
                         data-y="top"
                         data-hoffset="['-345','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s1.png"
                             alt="layer"
                             width="548"
                             height="265" />
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":2800,"speed":1000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="right"
                         data-y="top"
                         data-hoffset="['-345','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s2.png"
                             alt="layer"
                             width="548"
                             height="265" />
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":3000,"speed":1100,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="left"
                         data-y="bottom"
                         data-hoffset="['-340','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s3.png"
                             alt="layer"
                             width="347"
                             height="460" />
                    </div>
                </li>
                <li data-index="rs-3047"
                    data-transition="random-premium"
                    data-slotamount="default"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="Power3.easeInOut"
                    data-easeout="Power3.easeInOut"
                    data-masterspeed="1000"
                    data-thumb=""
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title=""
                    data-param1=""
                    data-param2=""
                    data-param3=""
                    data-param4=""
                    data-param5=""
                    data-param6=""
                    data-param7=""
                    data-param8=""
                    data-param9=""
                    data-param10=""
                    data-description="">
                    <img src="/assets/images/slider/2.jpg"
                         alt="Quera"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="0"
                         class="rev-slidebg"
                         data-no-retina />
                    <div class="tp-caption ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['top']"
                         data-voffset="['25','25','25','10']"
                         data-fontsize="['24','24','22','20']"
                         data-fontweight="400"
                         data-lineheight="['30']"
                         data-letterspacing="1.4"
                         data-width="['500','500','100%', '100%']"
                         data-height="['auto']"
                         data-whitesapce="normal"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Start Your Company With Us!
                    </div>
                    <div class="tp-caption headFont ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['-70','-70','-95','-130']"
                         data-fontsize="['100','80','60','36']"
                         data-fontweight="['700']"
                         data-lineheight="['110','90','70','46']"
                         data-letterspacing="0"
                         data-width="['100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":1900,"speed":350,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Take Advice <br />Our Company
                    </div>
                    <div class="tp-caption ws_nowrap"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['82','82','55','0']"
                         data-fontsize="['18','18','18','19']"
                         data-fontweight="['400']"
                         data-lineheight="['30','30','30','30']"
                         data-letterspacing="0"
                         data-width="['750','750','600','100%']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2300,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,25]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,25]">
                        Keeping track of the finances is fundamental to the success of
                        every business, small or large, but tackling the task yourself
                        can be intimidating.
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['left']"
                         data-hoffset="['0']"
                         data-y="['middle']"
                         data-voffset="['192','192','190','140']"
                         data-fontsize="['16']"
                         data-fontweight="700"
                         data-lineheight="60"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2600,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,20]">
                        <a href="contact.html" class="qu_btn">Get Started Now</a>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="['left']"
                         data-hoffset="['211']"
                         data-y="['middle']"
                         data-voffset="['181','181','180','130']"
                         data-fontsize="['16']"
                         data-fontweight="700"
                         data-lineheight="62"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-whitesapce="['normal']"
                         data-color="['#fff']"
                         data-type="text"
                         data-responsive_offset="off"
                         data-frames='[{"delay":2600,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"power3.inOut"}]'
                         data-textAlign="['center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,80,90,20]">
                        <a href="https://player.vimeo.com/video/213907368?h=3685456d6c"
                           class="popup_video">
                            <i class="twi-play"></i>
                        </a>
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":2500,"speed":800,"frame":"0","from":"y:top;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="right"
                         data-y="top"
                         data-hoffset="['-345','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s1.png"
                             alt="layer"
                             width="548"
                             height="265" />
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":2800,"speed":1000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="right"
                         data-y="top"
                         data-hoffset="['-345','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s2.png"
                             alt="layer"
                             width="548"
                             height="265" />
                    </div>
                    <div class="tp-caption tp-resizeme anLayer"
                         data-frames='[{"delay":3000,"speed":1100,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                         data-type="image"
                         data-x="left"
                         data-y="bottom"
                         data-hoffset="['-340','0','0','0']"
                         data-voffset="['-190','0','0','0']"
                         data-width="['auto']"
                         data-height="['auto']">
                        <img src="/assets/images/slider/s3.png"
                             alt="layer"
                             width="347"
                             height="460" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="clientLogo01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-3 col-md-12">
                <h2 class="secTitle">Our Supportive Brands</h2>
            </div>
            <div class="col-xl-7 col-md-8">
                <div class="client-slider owl-carousel">
                    <a href="javascript:void(0);">
                        <img src="/assets/images/client-logo/1.png" alt="" />
                    </a>
                    <a href="javascript:void(0);">
                        <img src="/assets/images/client-logo/2.png" alt="" />
                    </a>
                    <a href="javascript:void(0);">
                        <img src="/assets/images/client-logo/3.png" alt="" />
                    </a>
                    <a href="javascript:void(0);">
                        <img src="/assets/images/client-logo/4.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <a href="/cotactus" class="qu_btn">Join With Us</a>
            </div>
        </div>
    </div>
</section>

<section class="serviceSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-6">
                <div class="boxService">
                    <h2 class="secTitle">
                        We Make Your Agency <span>Full Bright</span>
                    </h2>
                    <p>
                        This Cheat Sheet offers tips and advice to help you get the
                        essentials right. here’s a list of the most important tasks of
                        business accounting and their meaning.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>01</span>
                        <i class="icons-monitoring"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">Accounting Services</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>02</span>
                        <i class="icon-local_3-1"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">Transaction Advisory Services</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>03</span>
                        <i class="icon-local_1"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">SME Support</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>04</span>
                        <i class="icon-local_11"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">Taxation Services</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>05</span>
                        <i class="icon-Wemseu01"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">Recruitment Services</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>06</span>
                        <i class="icon-local_1-1"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="">Financial Advices</a></h3>
                    <p>
                        A typical business holds many different assets called capital,
                        including office...
                    </p>
                    <a class="sm" href="">
                        Read More<i class="twi-arrow-right1"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="qu_link">
                    You can also find our
                    <a href="/contactus">Consultant Service to contact for the consulting</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="aboutSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-8">
                <div class="subTitle">
                    <span class="bleft"></span>Timely Service Delivery & Incident
                    Resolutions!!
                </div>
                <h2 class="secTitle">
                    We Provided Some Of The <span>Good Quality To You</span>
                </h2>
                <p class="secDesc">
                    The argument in favor of using filler text goes something like
                    this: If you use real content in the design process, anytime you
                    reach a review point you’ll end up reviewing and negotiating the
                    content itself and not the design.
                </p>
                <div class="row">
                    <div class="col-xl-8 col-md-7">
                        <div class="icon_box_02">
                            <div class="ib_box"><i class="icon-local_5"></i></div>
                            <h3>Finance Consultant</h3>
                            <p>
                                Organisations in the UK offier a wealth of<br />
                                information and expertise
                            </p>
                        </div>
                        <div class="icon_box_02">
                            <div class="ib_box"><i class="icon-local_7-1"></i></div>
                            <h3>Business Consultant</h3>
                            <p>
                                Organisations in the UK offier a wealth of<br />
                                information and expertise
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-5">
                        <div class="expCounter">
                            <h2>
                                <span class="counter" data-count="35">35</span><i>+</i>
                            </h2>
                            <p>Years Of Experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="abthumb">
                    <img src="/assets/images/home1/1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="processSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="subTitle">
                    <span class="bleft"></span>Process<span class="bright"></span>
                </div>
                <h2 class="secTitle">How We <span>Works</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="icon_box_03">
                    <div class="ib_box">
                        <i class="icon-local_1"></i><span>01</span>
                    </div>
                    <h3>Improvement</h3>
                    <p>
                        Fessionally fabricate strategic platform without corporate
                        before fully tested
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="icon_box_03">
                    <div class="ib_box">
                        <i class="icon-local_3"></i><span>02</span>
                    </div>
                    <h3>Idea Create</h3>
                    <p>
                        Fessionally fabricate strategic platform without corporate
                        before fully tested
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="icon_box_03">
                    <div class="ib_box">
                        <i class="icon-local_9"></i><span>03</span>
                    </div>
                    <h3>Consultancy</h3>
                    <p>
                        Fessionally fabricate strategic platform without corporate
                        before fully tested
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="icon_box_03">
                    <div class="ib_box">
                        <i class="icon-local_7"></i><span>04</span>
                    </div>
                    <h3>Success</h3>
                    <p>
                        Fessionally fabricate strategic platform without corporate
                        before fully tested
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appoinmentSection01">
    <div class="funfactArea">
        <div class="fact_01">
            <h2><span class="counter" data-count="2500">2.5</span><i>k</i></h2>
            <p>
                Power of choices when nothing what<br />
                we like best principle
            </p>
        </div>
        <div class="fact_01">
            <h2><span class="counter" data-count="138">138</span><i>+</i></h2>
            <p>
                Experiend Professuinal Team obtain<br />
                some of good advantages
            </p>
        </div>
        <div class="fact_01">
            <h2><span class="counter" data-count="9800">9.8</span><i>%</i></h2>
            <p>
                Revenue complete of the system and<br />
                expound actual teaching
            </p>
        </div>
    </div>
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-6">
                <div class="appointment_form">
                    <p>Do it right now!</p>
                    <h3>Make an Appointment</h3>
                    <form action="/Home/Contact" method="post" class="row" >
                        <div class="input-field col-md-6">
                            <i class="twi-user2"></i>
                            <input class="required"
                                   type="text"
                                   id="FullName"
                                   name="FullName"
                                   placeholder="Your Name" />
                        </div>
                        <div class="input-field col-md-6">
                            <i class="twi-phone-square"></i>
                            <input type="text"
                                   id="Phone"
                                   pattern="^\\d{10}$"
                                   name="phone"
                                   placeholder="Phone" />
                        </div>
                        <div class="input-field col-md-12">
                            <i class="twi-envelope2"></i>
                            <input class="required"
                                   type="email"
                                   id="Email"
                                   name="Email"
                                   placeholder="Email Address" />
                        </div>
                        <div class="input-field col-md-12">
                            <i class="twi-comment-lines2"></i>
                            <textarea class="required"
                                      id="Message"
                                      name="Message"
                                      placeholder="Describe Your Plan"></textarea>
                        </div>
                        <div class="input-field col-md-12">
                            <button type="submit" class="qu_btn">Get A Quote</button>
                            <div class="con_message"></div>
                        </div>
                    </form>
                    @if(ViewBag.SuccessMassage != null)
                    {
                        @ViewBag.SuccessMassage
                    }
                </div>
            </div>
            <div class="col-xl-6 pdAcc">
                <div class="subTitle"><span class="bleft"></span>Why Choose Us</div>
                <h2 class="secTitle">Get Every <span>Answer</span></h2>
                <div class="accordion quAccordion" id="quAccordion01">
                    <div class="card">
                        <div class="card-header" id="ma_ac_01">
                            <h2 class="mb-0">
                                <button type="button"
                                        data-toggle="collapse"
                                        data-target="#ma_collapes_01"
                                        data-aria-expanded="true"
                                        data-aria-controls="ma_collapes_01">
                                    <span></span>
                                    Best Sources of Help and Advice for Your Business
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_01"
                             class="collapse show"
                             aria-labelledby="ma_ac_01"
                             data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business
                                in the UK offier a wealth of information and expertise if
                                you need help from filling in your tax forms to recruiting
                                people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_02">
                            <h2 class="mb-0">
                                <button class="collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#ma_collapes_02"
                                        data-aria-expanded="false"
                                        data-aria-controls="ma_collapes_02">
                                    <span></span>
                                    Small business service with offices in most big towns
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_02"
                             class="collapse"
                             aria-labelledby="ma_ac_02"
                             data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business
                                in the UK offier a wealth of information and expertise if
                                you need help from filling in your tax forms to recruiting
                                people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_03">
                            <h2 class="mb-0">
                                <button class="collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#ma_collapes_03"
                                        data-aria-expanded="false"
                                        data-aria-controls="ma_collapes_03">
                                    <span></span>
                                    Offices are helpful on recruitment and employing people
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_03"
                             class="collapse"
                             aria-labelledby="ma_ac_03"
                             data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business
                                in the UK offier a wealth of information and expertise if
                                you need help from filling in your tax forms to recruiting
                                people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_04">
                            <h2 class="mb-0">
                                <button class="collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#ma_collapes_04"
                                        data-aria-expanded="false"
                                        data-aria-controls="ma_collapes_04">
                                    <span></span>
                                    Services including a legal helpline with disabilities
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_04"
                             class="collapse"
                             aria-labelledby="ma_ac_04"
                             data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business
                                in the UK offier a wealth of information and expertise if
                                you need help from filling in your tax forms to recruiting
                                people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_05">
                            <h2 class="mb-0">
                                <button class="collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#ma_collapes_05"
                                        data-aria-expanded="false"
                                        data-aria-controls="ma_collapes_05">
                                    <span></span>
                                    How do I Booked an Appointment?
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_05"
                             class="collapse"
                             aria-labelledby="ma_ac_05"
                             data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business
                                in the UK offier a wealth of information and expertise if
                                you need help from filling in your tax forms to recruiting
                                people or setting up your business
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolioSection01">
    <div class="folioSlider01 owl-carousel">
        <div class="folioItem01">
            <img src="/assets/images/folio/1.jpg" alt="" />
            <div class="folioContent">
                <a class="cat" href="folio1.html">Consultancy</a>
                <h3><a href="single-folio.html">Business Managment</a></h3>
            </div>
            <a class="fm" href="single-folio.html"><i class="twi-eye2"></i>View Details</a>
        </div>
        <div class="folioItem01">
            <img src="/assets/images/folio/2.jpg" alt="" />
            <div class="folioContent">
                <a class="cat" href="folio1.html">Consultancy</a>
                <h3><a href="single-folio.html">Finance Managment</a></h3>
            </div>
            <a class="fm" href="single-folio.html"><i class="twi-eye2"></i>View Details</a>
        </div>
        <div class="folioItem01">
            <img src="/assets/images/folio/3.jpg" alt="" />
            <div class="folioContent">
                <a class="cat" href="folio1.html">Consultancy</a>
                <h3><a href="single-folio.html">Business Managment</a></h3>
            </div>
            <a class="fm" href="single-folio.html"><i class="twi-eye2"></i>View Details</a>
        </div>
    </div>
</section>

<section class="teamSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="subTitle">
                    <span class="bleft"></span>Our Memebers<span class="bright"></span>
                </div>
                <h2 class="secTitle">Expert <span>Teams</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team_01 text-center">
                    <div class="tm_thumb">
                        <img src="/assets/images/team/1.jpg" alt="" />
                        <div class="tm_social">
                            <a href="https://www.facebook.com/">
                                <i class="twi-facebook-f"></i>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="twi-linkedin-in"></i>
                            </a>
                            <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                        </div>
                        <a class="tmsToggle" href="javascript:void(0);">+</a>
                    </div>
                    <h3><a href="single-team.html">Georgie Haynes</a></h3>
                    <p>Business Expert</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_01 text-center">
                    <div class="tm_thumb">
                        <img src="/assets/images/team/2.jpg" alt="" />
                        <div class="tm_social">
                            <a href="https://www.facebook.com/">
                                <i class="twi-facebook-f"></i>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="twi-linkedin-in"></i>
                            </a>
                            <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                        </div>
                        <a class="tmsToggle" href="javascript:void(0);">+</a>
                    </div>
                    <h3><a href="single-team.html">Lara Maleon</a></h3>
                    <p>Managment</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_01 text-center">
                    <div class="tm_thumb">
                        <img src="/assets/images/team/3.jpg" alt="" />
                        <div class="tm_social">
                            <a href="https://www.facebook.com/">
                                <i class="twi-facebook-f"></i>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="twi-linkedin-in"></i>
                            </a>
                            <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                        </div>
                        <a class="tmsToggle" href="javascript:void(0);">+</a>
                    </div>
                    <h3><a href="single-team.html">Adam Delaua</a></h3>
                    <p>Founder</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_01 text-center">
                    <div class="tm_thumb">
                        <img src="/assets/images/team/4.jpg" alt="" />
                        <div class="tm_social">
                            <a href="https://www.facebook.com/">
                                <i class="twi-facebook-f"></i>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="twi-linkedin-in"></i>
                            </a>
                            <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                        </div>
                        <a class="tmsToggle" href="javascript:void(0);">+</a>
                    </div>
                    <h3><a href="single-team.html">Jizz Merkel</a></h3>
                    <p>Consultant</p>
                </div>
            </div>
        </div>
        <div class="row mt38">
            <div class="col-lg-8">
                <div class="support">
                    <div class="spIcon">
                        <i class="twi-phone"></i>
                        <img src="/assets/images/1.jpg" alt="" />
                    </div>
                    <p>
                        We are one of the highest graded company in United State. For
                        any Kind of help please contact our
                        <span>24/7 hotline call services.</span> we are ready for you
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box_04">
                    <div class="ib_box"><i class="twi-comments-alt-dollar"></i></div>
                    <p>Have any Questions?</p>
                    <h3>2569 25 21589</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chooseSection">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-5">
                <div class="subTitle"><span class="bleft"></span>Why Choose Us</div>
                <h2 class="secTitle white">
                    Find Out More Our <span>Features</span>
                </h2>
                <p class="secDesc">
                    In addition to payroll cheques, a business writes many other
                    cheques during the course of a year to pay for a wide variety of
                    items including local business taxes,
                </p>
                <a href="javascript:void(0);" class="qu_btn">View All</a>
            </div>
            <div class="col-lg-7 mt44">
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon_box_05">
                            <div class="ib_box">
                                <div class="pin1"></div>
                                <i class="icon-local_1"></i>
                                <div class="pin2"></div>
                            </div>
                            <h3>Improvement</h3>
                            <p>
                                All cash received from sales and from all other sources has
                                to be carefully identified....
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon_box_05">
                            <div class="ib_box">
                                <div class="pin1"></div>
                                <i class="icon-local_3"></i>
                                <div class="pin2"></div>
                            </div>
                            <h3>Idea Generate</h3>
                            <p>
                                All cash received from sales and from all other sources has
                                to be carefully identified....
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon_box_05">
                            <div class="ib_box">
                                <div class="pin1"></div>
                                <i class="icon-XjxC7N01"></i>
                                <div class="pin2"></div>
                            </div>
                            <h3>Consultancy</h3>
                            <p>
                                All cash received from sales and from all other sources has
                                to be carefully identified....
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon_box_05">
                            <div class="ib_box">
                                <div class="pin1"></div>
                                <i class="icon-local_11"></i>
                                <div class="pin2"></div>
                            </div>
                            <h3>Success Business</h3>
                            <p>
                                All cash received from sales and from all other sources has
                                to be carefully identified....
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonialSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="icon_box_06">
                                <div class="ib_box"><i class="icon-local_7"></i></div>
                                <h3>Small / Growing Business!</h3>
                                <p>
                                    Choose one channel and be great at it. Work toward the
                                    goal of being the leading provider
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <div class="orcta">
                                <p>or</p>
                            </div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <div class="icon_box_06">
                                <div class="ib_box"><i class="icons-target"></i></div>
                                <h3>Enterprise Level Organization</h3>
                                <p>
                                    Choose one channel and be great at it. Work toward the
                                    goal of being the leading provider
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="subTitle">
                    <span class="bleft"></span>Testimonial<span class="bright"></span>
                </div>
                <h2 class="secTitle">Client’s <span>Feedback</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonialslider01 owl-carousel">
                    <div class="testiItem01">
                        <img src="/assets/images/home1/quote.png" alt="" />
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle
                            entered internal or "organic" sources. roductize tailers
                            before
                        </p>
                        <div class="ts_author">
                            <img src="/assets/images/home1/t1.jpg" alt="" />
                            <h5>David Smith</h5>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="/assets/images/home1/quote.png" alt="" />
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle
                            entered internal or "organic" sources. roductize tailers
                            before
                        </p>
                        <div class="ts_author">
                            <img src="/assets/images/home1/t2.jpg" alt="" />
                            <h5>Jasmine Dola</h5>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="/assets/images/home1/quote.png" alt="" />
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle
                            entered internal or "organic" sources. roductize tailers
                            before
                        </p>
                        <div class="ts_author">
                            <img src="/assets/images/home1/t3.jpg" alt="" />
                            <h5>Sowat Ahsan</h5>
                            <span>Designer</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="/assets/images/home1/quote.png" alt="" />
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle
                            entered internal or "organic" sources. roductize tailers
                            before
                        </p>
                        <div class="ts_author">
                            <img src="/assets/images/home1/t1.jpg" alt="" />
                            <h5>Mark Smith</h5>
                            <span>Co Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blogSectiont01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-7 noPaddingRight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blogItem01">
                            <div class="blogThumb">
                                <img src="/assets/images/blog/1.jpg" alt="" />
                            </div>
                            <div class="blogContent">
                                <div class="bmeta">
                                    <span>
                                        <i class="twi-folder2"></i><a href="blog1.html">Develop</a>
                                    </span>|<span>
                                        <i class="twi-user2"></i><a href="blog1.html">David Smith</a>
                                    </span>
                                </div>
                                <h3>
                                    <a href="single-blog.html">ITAM joins the financial, inventory...</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blogItem01">
                            <div class="blogThumb">
                                <img src="/assets/images/blog/2.jpg" alt="" />
                            </div>
                            <div class="blogContent">
                                <div class="bmeta">
                                    <span>
                                        <i class="twi-folder2"></i><a href="blog1.html">Marketing</a>
                                    </span>|<span>
                                        <i class="twi-user2"></i><a href="blog1.html">David Smith</a>
                                    </span>
                                </div>
                                <h3>
                                    <a href="single-blog.html">How To Scale a Dropshipping Business...</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="ctaBcon">
                    <div class="subTitle"><span class="bleft"></span>News Feed</div>
                    <h2 class="secTitle">Latest <span>News</span></h2>
                    <p class="secDesc">
                        Trusted by the world’s best organizations, for 15 years and
                        running, it has been delivering smiles to hundreds of IT
                        advisors, developers...
                    </p>
                    <a href="blog1.html" class="qu_btn">View All News</a>
                </div>
            </div>
        </div>
    </div>
</section>

