
@{
    ViewBag.Title = "Swadharma Consultancy | Contact Us";
}

<section class="page_banner" style="background-image: url(assets/images/Slider/3.jpg);">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-md-6">
                <h2 class="banner-title">Contact Us</h2>
            </div>
            <div class="col-md-6 text-right">
                <p class="breadcrumbs"><a href="/Home" rel="v:url"><i class="twi-home-alt1"></i>Home</a><span>/</span>Contact Us</p>
            </div>
        </div>
    </div>
</section>


<section class="coniconboxPage">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box_10">
                    <div class="ib_box"><i class="icons-location-pin"></i></div>
                    <h3>Office Address:</h3>
                    <p>3556 Hartford Way Vlg, Mount<br> Pleasant, SC, 29466, Australia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box_10">
                    <div class="ib_box"><i class="icons-telephone"></i></div>
                    <h3>Call Us For Help:</h3>
                    <p>+259 2563 2562,<br> +256 3654 2156</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box_10">
                    <div class="ib_box"><i class="icons-envelope-1"></i></div>
                    <h3>Mail info:</h3>
                    <p><a href="https://themewar.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7a1f021b170a161f3a0b0f1f081b54191517">[email&#160;protected]</a><br> <a href="https://themewar.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e58c8b838aa5809d8488958980cb868a88">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contactSection">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-md-8">
                <div class="appointment_form">
                    @if (ViewBag.SuccessMassage != null)
                    { <p>@ViewBag.SuccessMassage</p>}
                    <h3>Send Us a Message</h3>
                    <form action="/ContactUs/Contact" method="post" class="row">
                        <div class="input-field col-md-6">
                            <i class="twi-user2"></i>
                            <input class="required" type="text" name="FullName" id="FullName" placeholder="Your Name">
                        </div>
                        <div class="input-field col-md-6">
                            <i class="twi-phone-square"></i>
                            <input type="text"
                                   id="Phone"
                                   pattern="{10}"
                                   name="phone"
                                   placeholder="Phone" />
                        </div>
                        <div class="input-field col-md-12">
                            <i class="twi-envelope2"></i>
                            <input class="required" type="email" name="Email" id="Email" placeholder="Email Address">
                        </div>
                        
                        <div class="input-field col-md-12">
                            <i class="twi-pen2"></i>
<textarea class="required" name="Message" id="Message" placeholder="Type Your Message"></textarea>
                        </div>
                        <div class="input-field col-md-12">
                            <button type="submit" class="qu_btn">Submit Now</button>
                            <div class="con_message"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chatNow">
                    <h4>Chat With Support</h4>
                    <p>Let’s chat our live experts to get answer your question</p>
                    <a href="javascript:void(0);" class="qu_btn">Live Chat</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mapSection">
    <div class="google_map" id="google_map"></div>
</section>

