
@{
    ViewBag.Title = "Swadharma Consultancy | Services";
}
<section class="page_banner" style="background-image: url(assets/images/Slider/3.jpg);">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-md-6">
                <h2 class="banner-title">Services</h2>
            </div>
            <div class="col-md-6 text-right">
                <p class="breadcrumbs"><a href="/home" rel="v:url"><i class="twi-home-alt1"></i>Home</a><span>/</span>Services One</p>
            </div>
        </div>
    </div>
</section>


<section class="servicePage01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>01</span>
                        <i class="icons-monitoring"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="single-service.html">Accounting Services</a></h3>
                    <p>A typical business holds many different assets called capital, including office...</p>
                    <a class="sm" href="single-service.html">Read More<i class="twi-arrow-right1"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>02</span>
                        <i class="icon-local_3-1"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="single-service.html">Transaction Advisory Services</a></h3>
                    <p>A typical business holds many different assets called capital, including office...</p>
                    <a class="sm" href="single-service.html">Read More<i class="twi-arrow-right1"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>03</span>
                        <i class="icon-local_1"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="single-service.html">SME Support</a></h3>
                    <p>A typical business holds many different assets called capital, including office...</p>
                    <a class="sm" href="single-service.html">Read More<i class="twi-arrow-right1"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>04</span>
                        <i class="icon-local_11"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="single-service.html">Taxation Services</a></h3>
                    <p>A typical business holds many different assets called capital, including office...</p>
                    <a class="sm" href="single-service.html">Read More<i class="twi-arrow-right1"></i></a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="icon_box_01">
                    <div class="ibMeta">
                        <span>05</span>
                        <i class="icon-Wemseu01"></i>
                        <div class="brleft"></div>
                        <div class="brright"></div>
                    </div>
                    <h3><a href="single-service.html">Recruitment Services</a></h3>
                    <p>A typical business holds many different assets called capital, including office...</p>
                    <a class="sm" href="single-service.html">Read More<i class="twi-arrow-right1"></i></a>
                </div>
            </div>
           
        </div>
    </div>
</section>


<section class="chooseSection03 sc01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-xl-6 pdAcc">
                <div class="subTitle"><span class="bleft"></span>Why Choose Us</div>
                <h2 class="secTitle">Get Every Answer</h2>
                <div class="accordion quAccordion" id="quAccordion01">
                    <div class="card">
                        <div class="card-header" id="ma_ac_01">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#ma_collapes_01" data-aria-expanded="true" data-aria-controls="ma_collapes_01">
                                    <span></span>
                                    Best Sources of Help and Advice for Your Business
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_01" class="collapse show" aria-labelledby="ma_ac_01" data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_02">
                            <h2 class="mb-0">
                                <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_02" data-aria-expanded="false" data-aria-controls="ma_collapes_02">
                                    <span></span>
                                    Small business service with offices in most big towns
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_02" class="collapse" aria-labelledby="ma_ac_02" data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_03">
                            <h2 class="mb-0">
                                <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_03" data-aria-expanded="false" data-aria-controls="ma_collapes_03">
                                    <span></span>
                                    Offices are helpful on recruitment and employing people
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_03" class="collapse" aria-labelledby="ma_ac_03" data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="ma_ac_04">
                            <h2 class="mb-0">
                                <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_04" data-aria-expanded="false" data-aria-controls="ma_collapes_04">
                                    <span></span>
                                    Services including a legal helpline with disabilities
                                </button>
                            </h2>
                        </div>
                        <div id="ma_collapes_04" class="collapse" aria-labelledby="ma_ac_04" data-parent="#quAccordion01">
                            <div class="card-body">
                                You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="chImage">
                    <img src="assets/images/home3/3.png" alt="">
                </div>
                <div class="chooseSlider owl-carousel">
                    <div class="chsItem">
                        <img src="assets/images/home3/4.png" alt="">
                        <p>Where spotless cleaning comes to your door, No One Can Do This</p>
                    </div>
                    <div class="chsItem">
                        <img src="assets/images/home3/4.png" alt="">
                        <p>Where spotless cleaning comes to your door, No One Can Do This</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonialSection01">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="icon_box_06">
                                <div class="ib_box"><i class="icon-local_7"></i></div>
                                <h3>Small / Growing Business!</h3>
                                <p>Choose one channel and be great at it. Work toward the goal of being the leading provider</p>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <div class="orcta">
                                <p>or</p>
                            </div>
                        </div>
                        <div class="col-lg-5 text-right">
                            <div class="icon_box_06">
                                <div class="ib_box"><i class="icons-target"></i></div>
                                <h3>Enterprise Level Organization</h3>
                                <p>Choose one channel and be great at it. Work toward the goal of being the leading provider</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="subTitle"><span class="bleft"></span>Testimonial<span class="bright"></span></div>
                <h2 class="secTitle">Client’s <span>Feedback</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonialslider01 owl-carousel">
                    <div class="testiItem01">
                        <img src="assets/images/home1/quote.png" alt="">
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle entered internal or "organic" sources. roductize tailers before
                        </p>
                        <div class="ts_author">
                            <img src="assets/images/home1/t1.jpg" alt="">
                            <h5>David Smith</h5>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="assets/images/home1/quote.png" alt="">
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle entered internal or "organic" sources. roductize tailers before
                        </p>
                        <div class="ts_author">
                            <img src="assets/images/home1/t2.jpg" alt="">
                            <h5>Jasmine Dola</h5>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="assets/images/home1/quote.png" alt="">
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle entered internal or "organic" sources. roductize tailers before
                        </p>
                        <div class="ts_author">
                            <img src="assets/images/home1/t3.jpg" alt="">
                            <h5>Sowat Ahsan</h5>
                            <span>Designer</span>
                        </div>
                    </div>
                    <div class="testiItem01">
                        <img src="assets/images/home1/quote.png" alt="">
                        <p class="quotation">
                            Grow tactical "outside the box" thinking whereas principle entered internal or "organic" sources. roductize tailers before
                        </p>
                        <div class="ts_author">
                            <img src="assets/images/home1/t1.jpg" alt="">
                            <h5>Mark Smith</h5>
                            <span>Co Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

